.student_table{
    display: flex;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 65%;
    row-gap: 0;
    column-gap: 0;
    background-color: lightgray;
    box-shadow: 1px 1px 3px black;
}
.student_table > table > thead > th,.student_table > table > tbody > tr >td{
    text-align: center;
    border: 1px solid #000;
    padding: 6px;
    font-size: 20px;
}
#searchStudent{
    background-color: lightgray;
    outline: none;
    border: 1px solid black;
    border-radius: 3px;
    padding: 1% 2%;
}
button{
    padding: 8px;
    border: 1px solid rgb(158, 157, 157);
    border-radius: 5px;
    font-size: 15px;
    width: 5em;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .student_table > table{
        width: 100%;
    }
    button{
        padding: 6px;
        font-size: 12px;
        width: 4.5em;
    }
}
@media screen and (max-width: 590px) {
    .student_table > table{
        height: 90vh;
    }
    .student_table > table > thead > th,.student_table > table > tbody > tr >td{
        text-align: center;
        border: 1px solid #000;
        padding: 2px;
        font-size: 10px;
    }
    button{
        padding: 4px;
        font-size: 10px;
        width: 4.1em;
    }
}